body{
    overflow: hidden;
   
}
.container{
    margin: 0 20%;
    /* border: red solid 2px; */
    font-size: 2.5vh;
    height: 9vh;
}



img{
    position: absolute;
    width: 18vh;
    height: 19vh;
    margin-left: 31vh;
}